<cdk-virtual-scroll-viewport class="list" [itemSize]="61" >
  <mat-list>
    <mat-list-item *cdkVirtualFor="let contact of contacts"
                   matRipple
                   [matRippleColor]="00000011"
                   class="li"
                   (click)="onSelect(contact)">
      <img class="userIcon"
           src="{{contact.photoURL||defaultImage}}"
      />
      <h3> {{getDisplayText(contact)}}</h3>

    </mat-list-item>
  </mat-list>
</cdk-virtual-scroll-viewport>
<div class="buttonContainer">
<button mat-flat-button color="accent" (click)="addContact.emit()">Add</button>
</div>
